body {
	background: url('../home.png') no-repeat;
	background-size: 100% 100%;
	height: 100vh;
}
.admin {
	background-image: -webkit-gradient(linear, 0 0, 299 11, color-stop(0.023, #ff9c79), to(#ff788a));
	background-image: -webkit-linear-gradient(357.89307870931185deg, #ff9c79 2.3%, #ff788a);
	background-image: -moz-linear-gradient(357.89307870931185deg, #ff9c79 2.3%, #ff788a);
	background-image: -o-linear-gradient(357.89307870931185deg, #ff9c79 2.3%, #ff788a);
	background-image: linear-gradient(92.10692129068815deg, #ff9c79 2.3%, #ff788a)
}
.articles {
    background-image: -webkit-gradient(linear, 0 0, 262 0, from(#e5ef51), to(#abdd49));
    background-image: -webkit-linear-gradient(360deg, #e5ef51, #abdd49);
    background-image: -moz-linear-gradient(360deg, #e5ef51, #abdd49);
    background-image: -o-linear-gradient(360deg, #e5ef51, #abdd49);
    background-image: linear-gradient(90deg, #e5ef51, #abdd49);
}
.updateArticles {
	background-image: -ms-linear-gradient(top left, #EA4AA4 0%, #A943B0 80%);
	background-image: -moz-linear-gradient(top left, #EA4AA4 0%, #A943B0 80%);
	background-image: -o-linear-gradient(top left, #EA4AA4 0%, #A943B0 80%);
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #EA4AA4), color-stop(80, #A943B0));
	background-image: -webkit-linear-gradient(top left, #EA4AA4 0%, #A943B0 80%);
	background-image: linear-gradient(to bottom right, #EA4AA4 0%, #A943B0 80%);
    border: none;
}
a.articles, a.admin, button.updateArticles {
	display: block;
	margin: 100px auto 20px;
	width: 200px;
	height: 50px;
	color: #fff;
	border-radius: 5px;
	text-align: center;
	line-height: 40px;
}
a:not([disabled]):hover, button.updateArticles:not([disabled]):hover {
	text-decoration: none;
	color: #fff !important;
	-webkit-animation: icon-bounce 0.5s ease-in-out;
    animation: icon-bounce 0.5s ease-in-out;
}
button.updateArticles[disabled]:hover, a[disabled]:hover {
	color: #fff !important;
}
@-webkit-keyframes icon-bounce {
   1% {
    -webkit-transform: scale(1);
    transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.04);
        transform: scale(1.04);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes icon-bounce {
    1% {
    -webkit-transform: scale(1);
    transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.04);
        transform: scale(1.04);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.token {
	display: none;
}
.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: none;
	position: absolute;
	top: 50%;
	left: 45%
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}